[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "==2.2.0"
matplotlib = "*"
jupyterlab = "*"
black = {extras = ["jupyter"], version = "*"}

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.9"
